body {
    font-family: 'Droid Sans', sans-serif;
    background: linen;
    margin: 15px 0;
}
.wrapper {
    width: 1000px;
    margin: 0 auto;
    border: 5px solid saddlebrown;
    background: darkolivegreen;
}
header {
    padding: 10px;
    border-bottom: 5px solid saddlebrown;
}
header h1 {
    margin: 0;
    color: linen;
    text-shadow: saddlebrown 5px 3px;
}
.content {
    min-height: 150px;
    padding: 10px;
    width: 600px;
    margin: 0 auto;
}

.cards-container {
    height: 200px;
}
li {
    list-style: none;
    float: left;
    margin-left: 20px;
}
img {
    height: 100px;
}
.name {
    text-align: center;
    vertical-align: top;
    padding-top: 10px;

}
img, .name {
    width: 73px;
}
.hand-kind {
    height: 40px;
}
input.new-hand {
    padding: 5px;
    border: 2px solid saddlebrown;
}
input.new-hand, .hand-kind, .cards-container {
    background: linen;
    color: saddlebrown;
}
.hand-kind, .cards-container {
    border: 5px solid saddlebrown;
    margin-bottom: 20px;
    padding: 10px;
}

#templates {
    display: none;
}

#new-hand-text, input {
    float: right;
}
button {
    background: linen;
    color: saddlebrown;
}
input {
    width: 300px;
    margin-right: 5px;
    background: linen;
}
input.red {
    color: firebrick;
}
.or {
    margin-left: 38px;
    color: linen;
}